2DImProExercise1/.vs/
*.user
2DImProExercise1/2DImProExercise1/Debug/
2DImProExercise1/2DImProExercise1/Release/
2DImProExercise1/2DImProExercise1/x64/
2DImProExercise1/x64/
*.filters
2DImProExercise1/Debug/
/2DImProExercise1/2DImProExercise2/x64
/2DImProExercise1/2DImProExercise2/x64
