2DImProExercise/.vs/
*.user
*.filters
/2DImProExercise/2DImProExercise1/Debug
/2DImProExercise/2DImProExercise1/Release
/2DImProExercise/2DImProExercise1/x64
/2DImProExercise/2DImProExercise2/x64
/2DImProExercise/Debug
/2DImProExercise/RollingGuidanceFilter/x64/Debug
/2DImProExercise/x64
/2DImProExercise/x64
/2DImProExercise/2DImProExercise2/Ex2.synctex.gz
/2DImProExercise/2DImProExercise2/Ex2.out
/2DImProExercise/2DImProExercise2/Ex2.log
/2DImProExercise/2DImProExercise2/Ex2.aux
/2DImProExercise/2DImProExercise3/2DImProExercise3/x64/Debug
/2DImProExercise/2DImProExercise3/x64/Debug

*.out

*.log

*.aux

*.gz

*.tlog

2DImProExercise/2DImProExercise4/x64/Debug/
